<form [formGroup]="registerForm" (ngSubmit)="enviarUsuario()">
    <p-card header="Registrar Miembro" [style]="{width:'360px'}">
        <div class="field">
            <input type="text" pInputText formControlName="fullname" 
            placeholder="Nombre Completo" class="w-full"/>
        </div>
        <small *ngIf="fullname.invalid && (fullname.dirty || email.touched)" class="block p-error">
            <div *ngIf="fullname.hasError('required')">Ingreasa nombre completo</div>
        </small>

        <div class="field">
            <input type="text" pInputText formControlName="email" 
            placeholder="Ingreasa Email" class="w-full"/>
        </div>
        <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
            <div *ngIf="email.hasError('required')">Ingreasa email</div>
            <div *ngIf="email.hasError('email')">Email Incorrecto</div>
        </small>
            
        
        <div class="field">
            <p-password 
            formControlName = "pass"
            name = "pass" placeholder="Ingreasa contraseña"
            [toggleMask]="true" styleClass="w-full" ></p-password>
        </div>
        <div class="field">
            <p-password 
            formControlName = "pass"
            name = "confpass" placeholder="Confirma contraseña"
            [toggleMask]="true" styleClass="w-full" ></p-password>
        </div>
        <div class="field">
            <p-button label="Registrar" severity="success" styleClass="w-full" type="ngSubmit"></p-button>
        </div>
        <div class="mt-2">
            ¿Ya tienes cuenta? <a routerLink="/login">Iniciar sesión</a>
        </div>
    </p-card>
</form>
